* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  max-width: 100vh;
  margin: 0 auto;
  max-width: 100vh;
}

body {
  flex-shrink: 0;
  background: black;
  min-width: 100vh;
}

p {
  text-align: left;
}

a {
  text-decoration: none;
}

img {
  max-width: 52vh;
  margin: 0;
  padding: 0;
}
